.icon-with-text-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
}

.icon-with-text-child::-webkit-scrollbar {
  display: none;
}

.icon-with-text-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-with-text-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(var(--color-foreground));
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
}

.dark-mode-active .icon-with-text-item-image {
  border: 1px solid rgb(var(--dark-color-foreground));
}

.icon-with-text-item-image img {
  padding: 8px;
  width: 100%;
  height: 100%;
  min-width: 39px;
}

.dark-mode-active .icon-with-text-item-image img {
  filter: invert(1);
}

.icon-with-text-item h2 {
  margin-left: 15px;
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgb(var(--color-foreground));
  white-space: nowrap;
}

.dark-mode-active .icon-with-text-item h2 {
  color: rgb(var(--dark-color-foreground));
}
